/*********** GENERAL ***********/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    max-width: 1200px;
    margin: 40px 120px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
}

p {
    line-height: 1.3;
}


.highlight-text {
    font-weight: bold;
    font-family: "DM Serif Text", serif;
}

.title {
    font-family: "DM Serif Text", serif;
    font-size: 5.8rem;
    position: relative;
    width: fit-content;
}

/*********** HERO ***********/
#hero {
    background-color: #FFF5E2;
    padding: 43px 120px;
    border-radius: 36px;
}

#hero header {
    display: flex;
    justify-content: space-between;
}

#hero header .signature {
    height: 60px;
    flex-grow: 1;
}

#hero .navbar {
    flex-grow: 9;
}

#hero .navbar-list {
    display: flex;
    gap: 40px;
    justify-self: flex-end;
    margin-bottom: 10px;
}

#hero .navbar-list a{
    text-decoration: none;
    color: grey;
    font-size: 1.8rem;
}

#hero .line {
    width: 100%;
    height: 1px;
    background-color: grey;
}

.hero-content {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.hero-poster {
    width: 38%;
    height: auto;
    margin-right: 80px;
}

.hero-content .title::after {
    content: "";
    display: block;
    position: absolute;
    right: -120px;
    bottom: -20px;
    width: 100px;
    height: 100px;
    background: url("../img/smilling-face.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-content .title .double-under-line {
    position: relative;
}

.hero-content .title .double-under-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url("../img/double-underline.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-content .short-into:first-of-type {
    margin-top: 50px;
}

.hero-content .short-into {
    margin-top: 10px;
    font-size: 2rem;
}


/*********** GREETING ***********/
#greeting {
    margin-top: 100px;
    position: relative;
}

#greeting .title {
    max-width: 500px;
}

#greeting .topic-lists {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

#greeting .topic-block {
    padding: 33px 37px 74px;
    border-radius: 36px;
    background-color: #F2EBE3;
    width: 30%;
    height: fit-content;
    transition: all 0.2s ease-in-out;
}

#greeting .topic-block:nth-child(2) {
    margin-top: 80px;
}

#greeting .topic-block:nth-child(3) {
    margin-top: 160px;
}

#greeting .topic-block:hover {
    box-shadow: 0px 30px 40px -15px rgba(194, 179, 164, 0.6);
    transform: translateY(-12px);
    cursor: pointer;
}

#greeting .topic-block:hover .read-more p {
    text-decoration: underline;
}

#greeting .topic-block:hover .read-more i {
    transform: translateX(2px);
}

#greeting .topic-block:nth-child(1):hover {
    background-color: #88edc6;
}

#greeting .topic-block:nth-child(2):hover {
    background-color: #FFAF95;
}

#greeting .topic-block:nth-child(3):hover {
    background-color: #8FE5FF;
}

#greeting .topic-title {
    font-size: 3.8rem;
    margin-bottom: 21px;
}

#greeting .topic-title:first-child {
    max-width: 250px;
}

#greeting .line {
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 4px;
}

#greeting .desc {
    font-size: 1.6rem;
    margin-top: 33px;
}

#greeting .read-more {
    margin-top: 62px;
}

#greeting .read-more p {
    display: inline-block;
    font-weight: bold;
    font-size: 1.6rem;
}

#greeting .read-more .arrow-right {
    font-size: 20px;
    margin-left: 8px;
    transform: translateY(2px);
    transition: translate 0.2s ease-in-out;
}

#greeting .arrow-decor {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 230px;
}
#greeting .round-and-round-decor {
    position: absolute;
    bottom: -14%;
    left: 2%;
    width: 400px;
}


/*********** ABOUT ***********/
#about {
    margin-top: 150px;
}

#about .about-content {
    display: flex;
    gap: 30px;
}

#about .desc {
    background-color: #FFF5E2;
    padding: 70px 50px;
    margin-top: 35px;
    font-size: 1.6rem;

    border-radius: 36px;
    border-top-right-radius: 120px;

    max-width: 46%;
    height: fit-content;
}

#about .desc p{
    margin-bottom: 8px;
}

#about .portfolio-img {
    position: relative;
    /* aspect-ratio: 1/1; */
    width: 45%;
}

#about .blob-shape {
    position: absolute;
    width: 90%;
    z-index: 0;
    top: 22%;
    left: 13%;
}

#about .my-img {
    position: absolute;
}

#about .my-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#about .img-snake {
    z-index: 1;
    width: 46%;
    bottom: -1%;
    left: 12%;
}

#about .img-portfolio-1 {
    z-index: 2;
    top: 12%;
    right: 37%;
    width: 45%;
}

#about .img-portfolio-2 {
    z-index: 3;
    right: 11%;
    top: 38%;
    width: 36%;
}

#about .img-portfolio-2 .doodle-crowd {
    position: absolute;
    width: 34%;
    height: auto; /*important*/
    top: 0;
    left: 40%;
}

#about .doodle-stars {
    position: absolute;
    top: 20%;
    right: 21%;
    width: 14%;
    aspect-ratio: 1/1;

    background-color: #FFD700;

    -webkit-mask-image: url("../img/stars.svg");
    mask-image: url("../img/stars.svg");

    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}


/*********** FOOTER ***********/
footer::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 99%;
    left: 0;
    width: 100%;
    aspect-ratio: 1920 / 320;
    background: url("../img/footer-line.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    position: relative;
    margin-top: 300px;
    background-color: #FFF5E2;
    padding: 50px 300px 100px;

    display: flex;
    gap: 50px;
}

footer .social {
    align-items: center;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social-icons .icon {
    font-size: 25px;
    width: 100%;
    height: 100%;
    margin: 0 4px;
    color: black;
}

footer .social-icons .icon:hover {
    opacity: 0.5;
}

footer .more {
    display: flex;
    gap: 20px;
}

footer .more-title {
    color: #746969;
    font-weight: bold;
}

footer .more .list-item {
    margin-top: 18px;
}

footer .more .list-item a {
    color: #aeaeae;
    text-decoration: none;
}

footer .more .list-item a:hover {
    text-decoration: underline;
}